@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
  --main: #fff;
  --light: rgba(235,235,235,0.5);
  --dim: rgb(228,228,228);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}


.container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center ;
  align-items: center;
  color: var(--main);
  font-family: "Poppins";
}

.backgroundS {
  position: absolute;
  right:0;
  top:0;
  height:100vh;
  width:100%;
  object-fit: cover;
  z-index: -1;
}

.music-Container{
  margin-top: 80vh;
  width:650px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  backdrop-filter: blur(15px) ;
  align-items: center;
}

i {
  margin: 10px;
}

#light:hover {
  color: #ec9671;
}

#dark:hover {
  color: #8551e6;
}



.fa-volume-high {
  position: relative;
}

.MusicContolers {
  display: flex;
  align-items: center; 
}

.MusicContolers > div {
  margin-right: 5px; 
}

.audioContainer {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

input[type="rang"]{
  margin-top: 20px;
  margin-bottom: 20px;
}


