@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root{
  --main: #fff;
  --light: rgba(235,235,235,0.5);
  --dim: rgb(228,228,228);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}


.container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center ;
  align-items: center;
  color: var(--main);
  font-family: "Poppins";
}

.backgroundS {
  position: absolute;
  right:0;
  top:0;
  height:100vh;
  width:100%;
  object-fit: cover;
  z-index: -1;
}

.music-Container{
  margin-top: 80vh;
  width:650px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  backdrop-filter: blur(15px) ;
  align-items: center;
}

i {
  margin: 10px;
}

#light:hover {
  color: #ec9671;
}

#dark:hover {
  color: #8551e6;
}



.fa-volume-high {
  position: relative;
}

.MusicContolers {
  display: flex;
  align-items: center; 
}

.MusicContolers > div {
  margin-right: 5px; 
}

.audioContainer {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

#light ~ input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 65%;
  height: 8px;
  background: linear-gradient(to right, #ec9671 0%, #ec9671 calc( var(--value) * 1% ), #d3d3d3 calc( var(--value) * 1% ), #d3d3d3 100%); /* Use linear gradient */
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 5px;
}

#light ~ input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ec9671; /* Set thumb color */
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}



#dark ~ input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 65%;
  height: 8px;
  background: linear-gradient(to right, #8551e6 0%, #8551e6 calc( var(--value) * 1% ), #d3d3d3 calc( var(--value) * 1% ), #d3d3d3 100%); /* Use linear gradient */
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 5px;
}

#dark ~ input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #8551e6; /* Set thumb color */
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}


